<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
  <title>XTEAM Bloging</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    <link rel="icon" href="bloging/static/xteam.jpg" type="image/x-icon">
      <!-- <a class="navbar-brand" href="#">Portfolio</a> -->
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <!-- <li><a href="#">About</a></li>
        <li><a href="#">Gallery</a></li> -->
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Login</a></li> -->
        <li><a href="#"><span class=""></span>Welcome: {{request.user}}</a></li>
        <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out">Logout</span></a></li>

      </ul>
    </div>
  </div>
</nav>

{% block content %}{% endblock content %}

<footer class="container-fluid text-center fixed-bottom">
  <p><b><a href="https://xtremeindia.com/">Copyright © 2023 X-treme (Bangalore) Pvt Ltd</a><br>
    Powered by X-treme (Bangalore) Pvt Ltd</b>
    
  </p>

</footer>

</body>
</html>