{% extends 'base.html'%}
{% block content %}
<div class="container">
    <h2>Create a Blog Post</h2>
    <form method="POST" action="{% url 'create-blog' %}">
        {% csrf_token %}
        <!-- <div class="form-group">
            <input type="text" class="form-control" name="post_id" id="post_id">
        </div> -->
        <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" name="post_title" id="post_title" placeholder="Enter title">
      </div>
      <div class="form-group">
        <label for="content">Content:</label>
        <textarea class="form-control" name="post_content" id="post_content" rows="5" placeholder="Enter content"></textarea>
      </div>
      <div class="form-group">
        <label for="content">Category Name:</label>
        <input type="text" class="form-control" name="category_name" id="category_name">
      </div>
      <div class="form-group">
        <label for="meta_title">Meta Title:</label>
        <input type="text" class="form-control" name="meta_title" id="meta_title" placeholder="Enter Meta title">
      </div>
      <div class="form-group">
        <label for="description">Meta Decription:</label>
        <input type="text" class="form-control" name="meta_description" id="meta_description" placeholder="Enter Meta Description">
      </div>
      <div class="form-group">
        <label for="Meta Keyword">Meta Keyword:</label>
        <input type="text" class="form-control" name="meta_keyword" id="meta_keyword" placeholder="Enter Meta Keyword">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
<!-- Include Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  {% endblock %}