{% extends 'base.html' %}
{% load static %}
{% block title %}
    Welcome to Demo Bloging Website
{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container text-center">
      <!-- <h1>My Portfolio</h1> -->
    <h3 class=" text-primary">Bloging Web Application for XTEAM Consultants India Pvt. Lmt.</h3><br>
      <p class="text-warning">X-TREME is mainly in the field of projects & consulting activity. We provide turnkey solutions in the field of Water & Wastewater Treatment along with consulting services towards MoEF, State MoEF & State PCB’s for existing and new establishments (Industrial, Commercial & Residential). Our team consists of experienced technocrats who have been involved in the field of the environment for a decade or so....</p>
    </div>
  </div>

  <div class="container-fluid bg-3 text-center">    
    <a type="button" href="/create-blog/" class="btn btn-success">Add New Blog</a>
    <div class="row">
      {% for post in blogs %}
      <div class="col-sm-9 list-group-item">
        <h3 class="list-group-item">{{post.title}}</h3>
        <!-- <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"> -->
        <article><p>{{ post.meta_description }}</p></article>
        <!-- <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"> -->
        <div class="col-sm-3 list-group-item">
          <article><p><b>Posted By:</b> {{ post.created_by  }}</p></article>
          <!-- <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"> -->
        </div>
        <div class="col-sm-3 list-group-item">
          <p><b>Posted on:</b> {{ post.created_at }}</p>
          <!-- <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"> -->
        </div>
        <div class="col-sm-3 list-group-item">
          <p><b>Posted In:</b> {{ post.category.category_name }}</p>
          <!-- <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"> -->
        </div>
        <div class="col-sm-3 list-group-item">
          <a class="btn btn-blog pull-right marginBottom10" href="/post/{{post.pk}}">READ MORE</a> 
        </div>
      </div>
      {%endfor%}
      {% for i in category %}
      <div class="col-sm-3 list-group-item"> 
        <h3>{{i}}</h3>
        <ul class="list-group list-group-flush">
          {% for j in blogs%}
          {% if i.pk == j.category.pk%}
              <li class="list-group-item"><a href="/post/{{j.pk}}">{{j.title}}</a></li>
          {% endif%}
        {% endfor%}
            </ul>
        <!-- <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"> -->
      </div>
      {%endfor%}
    </div>
  </div><br>
{%endblock%}