{% extends 'base.html' %}
{% block content %}
  <h2>Login</h2>
  <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
  <div class="container-fluid bg-3 text-center">
    <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br><br>
    </div>
    <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>
    </div>
    <div class="form-group">
    <button type="submit">Login</button>
    </div>
  </div>
  </form>
{% endblock %}
