<div class="jumbotron">
    <div class="container text-center">
      <h1>My Portfolio</h1>      
      <p>Some text that represents "Me"...</p>
    </div>
  </div>

  <div class="container-fluid bg-3 text-center">    
    <h3>Some of my Work</h3><br>
    <div class="row">
      {% for post in blogs %}
      <div class="col-sm-9">
        <h3>{{post.title}}</h3>
        <!-- <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"> -->
        <article><p>{{ post.meta_description }}</p></article>
        <!-- <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"> -->
        <div class="col-sm-3">
          <article><p>Posted By: {{ post.created_by  }}</p></article>
          <!-- <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"> -->
        </div>
        <div class="col-sm-3">
          <p>Posted on: {{ post.created_at }}</p>
          <!-- <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"> -->
        </div>
        <div class="col-sm-3">
          <p>Posted at: {{ post.category.category_name }}</p>
          <!-- <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image"> -->
        </div>
      </div>
      {%endfor%}
      <div class="col-sm-3"> 
        <h3>Category</h3>
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      </div>
    </div>
  </div><br>