{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- <div class="col-md-10 blogShort"> -->
  <div class="container">
    
    {% for i in post %}
    <div class="form-group">
    <h1>{{i.title}}</h1>
    </div>
    <div class="form-group">
    <article><p>{{ i.content }}</p></article>
      <!-- <a class="btn btn-blog pull-right marginBottom10" href="/post/{{i.pk}}">READ MORE</a>  -->
    </div>
      {% endfor%}
  </div>
  {% endblock content %}